html, body {
    height: auto;
    margin: 0;
}

html{
    background-color: hsl(202, 86%, 94%);
}
body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: "Plus Jarkata Sans", sans-serif;
}

section {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filloutForm {
    width: 400px;
    padding: 35px 15px 35px 35px;
    height: auto;
}
.result-pg{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 35px 35px 35px 15px;
    background-color: hsl(202, 55%, 16%);
    color: hsl(203, 41%, 72%);
    margin-right: 0px;
    border-radius: 0px 25px 25px 45px;
}
#results-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
p{
    font-size: 17px;
}

label p{
    margin: 0px 5px;
}
form{
    font-weight: 500;
    width: auto;
}
.colorB{
    color: hsl(202, 55%, 16%);
    font-weight: 700;
}
h2.colorB{
    font-size: 19px;
}

label{
    color: hsl(200, 26%, 54%);
}

.frm{
    border: 1px solid hsl(200, 26%, 54%);
    border-radius: 5px;
    padding: 10px;
}

.frm:hover{
    border-color: hsl(203, 74%, 8%);
    cursor: pointer;
}

input{
    margin: 5px 0px;
}
#inpts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rd{
    border-radius: 5px;
    /* padding: 8px 0px 8px 0px; */
}

.di{
    display: flex;
    flex-direction: row;
    border: 1px solid hsl(200, 26%, 54%);
    border-radius: 5px;
    margin: 5px 0px;
    padding: 8px 0px 8px 8px;
    align-items: center;
}

.di:hover{
    border-color: rgb(217, 217, 14);
    cursor: pointer;
}


.di:has(input:checked) {
  background-color: rgba(255, 255, 150, .25);
  border-color: hsl(61, 70%, 52%);
}

input[type="radio"] {
  accent-color: hsl(61, 70%, 52%);   /* makes the dot and main color yellow */
  border: none; /* makes the outer ring yellow too */
}

.mrtg-typ{
    color: hsl(200, 26%, 54%);
    margin-bottom: 0px;
}

#mrtg-amnt{
    width: 377px;
}

#mrtg-amnt:hover{
    border-color: hsl(202, 55%, 16%);
    cursor: pointer;
}

#clr-btn{
    border: none;
    color: hsl(200, 26%, 54%);
    background-color: transparent;
    text-decoration: underline;
    padding: 8px;
    font-size: 15px;
}

#clr-btn:hover{
    color: hsl(203, 74%, 8%);
    cursor: pointer;
}

#calc-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    padding: 10px 20px;
    width: 240px;
    border: none;
    border-radius: 30px;
    background-color: hsl(61, 70%, 52%);
}

#calc-btn:hover{
    background-color:  rgb(246, 246, 180);
    cursor: pointer;
}

label.colorB{
    margin: 0px 5px;
}

.compltd-frm{
    display: none;
}

#resulto{
    align-items: center;
    background-color: hsl(203, 74%, 8%);
    border-top: 4px solid hsl(61, 70%, 52%);
    border-radius: 15px;
    padding: 20px;
}

hr{
    border: 1px solid hsl(200, 24%, 40%);
}

.monthly{
    font-size: 35px;
    color: hsl(61, 70%, 52%);
}
.total{
    color: white;
    font-weight: 700;
}

p#resulto{
    margin-bottom: 0px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px 25px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
}

.popup-content button {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background: hsl(61, 70%, 52%);
  cursor: pointer;
}